body {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2em;
}
.app-container {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.app-header {
    background-color: rgb(16, 179, 255);
    color: white;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
}

.tracking-btn {
    cursor: pointer;
    background-color: #ff8c00; /* Adjust the color to match the screenshot */
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
    border-radius: 10px;
    margin-left: 20px;
}
.tracking-btn:hover {
    background-color: #c46c00;
}

.video {
    border-radius: 10px;
}

#fps {
    margin-left: 10px;

}

.label {
    color: gray;
}
/* Add additional styles as needed */